.card-body input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    color: #000000;
}
a {
    color: black;
}
#teste{
    position: relative;
}
#password{
    border-radius: 0;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}
.lnr-eye {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}