.card-body input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    color: #000000;
}
a {
    color: black;
}
#password{
border-radius: 0;
padding: 5px;
margin-bottom: 10px;
width: 100%;
box-sizing: border-box;
}
.lnr-eye {
position: absolute;
top: 290px;
right: 25px;
cursor: pointer;
}
body {
    background-image: url(img_home.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}