.header-label{
    background-color: black ;
    width: 100%;
    height: 80px;
}
h1{
    padding-top: 5px;
    padding-left: 10px;
    color: white;
    text-align: center;
}
.aside{
    background-color: black;
    height: 1637px;
    width: 220px;
}
ul{
    padding-left: 50px;
    color: white;
}
li{
    color: white;
}
h2, h3{
    padding-left: 25px;
    color: white;
}   
.main{
    display: flex;
}
div.galery_salgados{
    padding: 5px;
    display: flex;
    margin: 20px;
}

div.galery_salgados > .coxinha, .kibe, .empada, .quixe{
    padding: 5px;
    margin: 20px;
    border: solid 3px;
}
h3 > a{
    color: white;
}
h3 > a:hover{
    color: white;
}
    